//
// rf components - sidebars
//

.rf-sidebar {
  position: relative;
  color: @grey-5;
  background-color: @color-2;
  border-right: 1px solid @color-2;

  &.absolute {
    position: fixed;
    top: @headerHeightSM;
    bottom: 0;
    left: 0;
    right: 50%;
    z-index: 98;
    transform: translateX(-105%);
    transition: transform 0.4s ease;

    .media-min-sm({
      position: absolute;
      top: 0;
      right: 0;
      transform: translateX(0);
    });

    .media-max-sm({ width: 70%; });

    &:before {
      position: absolute;
      content: "";
      top: 0;
      bottom: 0;
      left: 0;
      background: fade(@color, 10%);
      opacity: 0;
      transition: opacity 1s ease;
    }

    &[show] {
      transform: translateX(0);

      &:before {
        right: -50%;
        opacity: 1;

        .media-min-sm({ display: none; });
      }
    }

    // list
    .rf-list {
      overflow: auto;
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;

      ul {
        border-top: 1px solid @white;
        border-bottom: 1px solid @white;
      }
    }
  }

  header {
    font-size: 10px;
    line-height: 12px;
    text-transform: uppercase;
    text-align: center;
    padding: 4px 15px;
    background-color: @color-2;
  }

  // tabs
  .rf-tabs {
    position: relative;
    z-index: 1;
  }
  
  // list
  .rf-tabs ~ .rf-list { top: 50px; }
  .rf-tabs ~ .rf-list { bottom: 40px; }

  // input
  .rf-input.block + [icon],
  .rf-input.block + [data-icon] {
    top: 18px;
    right: 15px;
  }

  // toolbar
  .rf-toolbar {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
    background-color: @color-1;
    border-top: 1px solid @color-2;
    color: @grey-5;
    padding: 0;


    li {
      padding: 0 5px;
      border-color: @color-2;
      &:first-child { border-left: none; }
    }

    a {
      color: @grey-5;

      &:hover,
      &:focus,
      &:active {
        background-color: @color-1;
      }
    }
  }
}
